
.vs/
Binaries/
Saved/
Binaries/
Build/
Content/
Intermediate/
DerivedDataCache/
.vs/
.idea/
Infinityvoid_Client.sln
Plugins/GameLiftBlueprintPlugin/Binaries/
Plugins/GameLiftBlueprintPlugin/Intermediate/
Plugins/ALS-Community/Binaries/
Plugins/ALS-Community/Intermediate/
Plugins/UniversalVoiceChatPro/Binaries/
Plugins/UniversalVoiceChatPro/Intermediate/
Plugins/VaRestPlugin/Binaries/
Plugins/VaRestPlugin/Intermediate/
Plugins/GraphFormatter/Binaries/
Plugins/GraphFormatter/Intermediate/
Plugins/CompilerBooster/Binaries/
Plugins/CompilerBooster/Intermediate/

Plugins/Developer/RiderLink/
Samples/
.vsconfig
.vsconfig
